<article>
    {{#each beersFromApi}}
    <h1>{{this.name}}</h1>
    <div>{{this.description}}</div>
    <div>{{this.tagline}}</div>
    <div><img class="image" src="{{this.image_url}}" alt=""></div>
    {{/each}}
</article>