<article>
    <h1>{{randomBeer.name}}</h1>
    <div class="description">{{randomBeer.description}}</div>
    <div class="tag-line">{{randomBeer.tagline}}</div>
    <div><img class="image" src="{{randomBeer.image_url}}" alt=""></div>
</article>